# Compiled files
*.tfstate
*.tfstate.backup
*.zip
.DS_Store
# Module directory
.terraform/
.terraform
__pycache__/
.idea
*.iml
*.orig
*~HEAD
*backup
*.ini
tmp
lambda
*~HEAD
*backup
id_rsa*
*.lock.info
.terraform.tfstate.lock.info
.terraform.lock.hcl
tf.json
tf.plan
*.log
